#!/bin/bash

#
# Aliases File
# Part of koconder/dotfiles
#

# Mac Specific
if [[ "$OSTYPE" == "darwin"* ]]; then
	# Setup PHP
	alias php=/Applications/MAMP/bin/php/${MAMP_LATEST_PHP}/bin/php

	# UpdateDB
	alias updatedb="sudo /usr/libexec/locate.updatedb"

	# Preferred 'ls' implementation
	alias ls='exa --git'
	alias ll='exa -FGlha --git'
else
	# Preferred 'ls' implementation
	alias ll='ls -FGlAhp'
fi


# Enable aliases to be sudo’ed
alias sudo='sudo '

# Preferred Options and Replacements
alias man='tldr'
alias dig='dog'
alias digs='dog -1'
alias domain='dig +trace'
alias cp='cp -iv'
alias mv='mv -iv'
alias mkdir='mkdir -pv'
alias vi='vim'
alias ping='gping'

# Easier navigation
alias ~="cd ~"
alias cd..='cd ../'
alias ..='cd ../'
alias ...='cd ../../'
alias .3='cd ../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../../'
alias .6='cd ../../../../../../'
# alias --="cd -" #previous folder

# Open Current Path in Finder
alias f='open -a Finder ./'

# Quick Folder Shortcuts
alias dl="cd ~/Downloads"
alias desk="cd ~/Desktop/"
alias g="cd ~/GIT"
alias i="cd ~/Library/Mobile\ Documents/com~apple~CloudDocs/"

# Colour Output
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias phpunit='phpunit --colors'

# Run Last as Sudo
alias fuck='sudo $(history -p \!\!)'

# Terminal Tweaks
alias c='clear'
alias h='history'
alias j='jobs -l'

# Print PATH's
alias path='echo -e ${PATH//:/\\n}'

# Set EDITOR as edit command
alias edit='"${EDITOR}"'

# Networking
alias myip='digs myip.opendns.com @resolver1.opendns.com'
alias localip="ipconfig getifaddr en0"

# macOS has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# macOS has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'

alias fix_stty='stty sane'                  # fix_stty:     Restore terminal settings when screwed up
alias DT='tee ~/Desktop/terminalOut.txt'    # DT:           Pipe content to file on MacOS Desktop
alias top='htop'
alias htop='sudo htop'
alias running='htop'
#alias rm='rm -i --preserve-root' # do not delete / or prompt if deleting more than 3 files at a time #
#alias chown='chown --preserve-root' # Parenting changing perms on / #
#alias chmod='chmod --preserve-root' # Parenting changing perms on / #
#alias chgrp='chgrp --preserve-root' # Parenting changing perms on / #
alias kp="ps auxwww" # the "kp" alias ("que pasa"), in honor of tony p.
#alias myip='curl -s icanhazip.com | tail -n1'                     # myip:         Public facing IP Address
alias netCons='lsof -i'                             # netCons:      Show all open TCP/IP sockets
alias flushDNS='dscacheutil -flushcache && sudo killall -HUP mDNSResponder'            # flushDNS:     Flush out the DNS Cache
alias lsock='sudo /usr/sbin/lsof -i -P'             # lsock:        Display open sockets
alias lsockU='sudo /usr/sbin/lsof -nP | grep UDP'   # lsockU:       Display only open UDP sockets
alias lsockT='sudo /usr/sbin/lsof -nP | grep TCP'   # lsockT:       Display only open TCP sockets
alias ipInfo0='ipconfig getpacket en0'              # ipInfo0:      Get info on connections for en0
alias ipInfo1='ipconfig getpacket en1'              # ipInfo1:      Get info on connections for en1
alias openPorts='sudo lsof -i | grep LISTEN'        # openPorts:    All listening connections
alias showBlocked='sudo ipfw list'                  # showBlocked:  All ipfw rules inc/ blocked IPs
alias myssh='cd ~/Dropbox/_System/SSH/'
alias myhostedit='sudo vim /etc/hosts'
alias myhostclear='sudo dscacheutil -flushcache ; sudo killall -HUP mDNSResponder'