#!/bin/bash


#
# Shell
#

	# Make set default editor based on a cascading list of apps
	export EDITOR=$(command -v subl || command -v code || command -v nvim || command -v vim || command -v vi)
	export BUNDLE_EDITOR="${EDITOR}"
	export VISUAL="${EDITOR}"
	# Prefer US English and use UTF-8.
	export LANG='en_US.UTF-8'
	export LC_ALL='en_US.UTF-8'
	# Don’t clear the screen after quitting a manual page.
	export MANPAGER='less -X'
	# Enable colour where possible
	export CLICOLOR=1
	export GREP_OPTIONS='--color=auto'

	# Avoid issues with `gpg` as installed via Homebrew.
	# https://stackoverflow.com/a/42265848/96656
	if [[ $OSTYPE == 'darwin'* ]]; then
		export GPG_TTY=$(tty)
	fi

	# Variables for Shell
	if [ -n "$ZSH_VERSION" ]; then
	    # assume Zsh
	    echo -e ""
	elif [ -n "$BASH_VERSION" ]; then
	    alias which='type -all' # which: Find executables
	    shopt -s histappend # Save Bash History regardless of window
	    shopt -s nocaseglob # Case insenstive tab completion
	    shopt -s cdspell # Autocorrect typos in path names when using `cd`
	    export PS1="\n\[\033[33m\][\u@\[\033[1;31m\]\h]\]\033[0m in :\w \n\033[1;34m\][\d \t]\[\`if [[ \$? = "0" ]]; then echo '\e[0;32m > \e[0m'; else echo '\e[0;31m > \e[0m' ; fi\`\]\033[0m"
	fi

#
# Bash
#

	# Increase Bash history size. Allow 32³ entries; the default is 500.
	export HISTSIZE='32768'
	export HISTFILESIZE="${HISTSIZE}"
	# Omit duplicates and commands that begin with a space from history.
	export HISTCONTROL='ignoreboth'
	# Add timestamp to bash history
	export HISTTIMEFORMAT="%d/%m/%y %T "
	# Hide the “default interactive shell is now zsh” warning on macOS.
	export BASH_SILENCE_DEPRECATION_WARNING=1

#
# Node
#

	# Enable persistent REPL history for `node`.
	export NODE_REPL_HISTORY=~/.node_history
	# Allow 32³ entries; the default is 1000.
	export NODE_REPL_HISTORY_SIZE='32768'
	# Use sloppy mode by default, matching web browsers.
	export NODE_REPL_MODE='sloppy'

#
# Python
#

	# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
	export PYTHONIOENCODING='UTF-8'

#
# PHP (MAMP)
#

	# Setup PHP executable PATH (higest ver)
    MAMP_LATEST_PHP=`ls /Applications/MAMP/bin/php/ | sort -n | tail -1`
    export PATH=/Applications/MAMP/bin/php/${MAMP_LATEST_PHP}/bin:$PATH
