#!/bin/bash

# Always list directory contents upon 'cd'
cd() { builtin cd "$@"; ll; }

# mcd: Makes new Dir and jumps inside
mcd () { mkdir -p "$1" && cd "$1"; }

# trash: Moves a file to the MacOS trash
trash () { command mv "$@" ~/.Trash ; }

# ql: Opens any file in MacOS Quicklook Preview
ql () { qlmanage -p "$*" >& /dev/null; }

# cleands: Recursively delete .DS_Store files
cleands () {find . -type f -name '*.DS_Store' -ls -delete}

# To create a ZIP archive of a folder
zipf () { zip -r "$1".zip "$1" ; }

# 'Cd's to frontmost window of MacOS Finder
cdf () {
    currFolderPath=$( /usr/bin/osascript <<EOT
        tell application "Finder"
            try
        set currFolder to (folder of the front window as alias)
            on error
        set currFolder to (path to desktop folder as alias)
            end try
            POSIX path of currFolder
        end tell
EOT
    )
    echo "cd to \"$currFolderPath\""
    cd "$currFolderPath"
}

# Search for a file using MacOS Spotlight's metadata
spotlight () { mdfind "kMDItemDisplayName == '$@'wc"; }

# Ruby Librariesw
# https://gorails.com/setup/osx/10.14-mojave
function rubydoctor () {
    curl -fsSL https://github.com/rbenv/rbenv-installer/raw/main/bin/rbenv-doctor | bash
}

# Useful information
ii() {
    echo -e "\nYou are logged on ${RED}$HOST"
    echo -e "\nAdditionnal information:$NC " ; uname -a
    echo -e "\n${RED}Users logged on:$NC " ; w -h
    echo -e "\n${RED}Current date :$NC " ; date
    echo -e "\n${RED}Machine stats :$NC " ; uptime
    echo -e "\n${RED}Current network location :$NC " ; scselect
    echo -e "\n${RED}Public facing IP Address :$NC " ;myip
    #echo -e "\n${RED}DNS Configuration:$NC " ; scutil --dns
    echo
}


# Global updater
function up () {
	# Password for Sudo
	echo -e "\033[0;36mPlease provide local password (may auto-skip)...\033[0m"
	sudo -v

	# Mac Updates
	sudo softwareupdate -i -a

    # Composer
    if [ -e "/usr/local/bin/composer" ] ; then
      composerupdate
    fi

    # Homebrew
    if [ -e "/usr/local/bin/brew" ] || [ -e "/opt/homebrew/bin/brew" ]  ; then
		brew update
		brew upgrade
		brew cask upgrade
		brew cleanup
		brew doctor
		brew missing
    fi

    # NPM
    if [ -e "/usr/local/bin/npm" ]  || [ -e "/opt/homebrew/bin/npm" ] ; then
    	npm install npm -g
		npm update -g
    fi

    # Ruby Gems
    if [ -e "/usr/bin/gem" ] || [ -e "~/.rbenv/shims/gem" ] ; then
		sudo gem update --system
		sudo gem update -n /usr/local/bin
		sudo gem cleanup
    fi

    # Python
    if [[ $(command -v pip) == "" ]]; then
        pip install --upgrade "pip" "setuptools"
    fi

    # Rust
    if [[ $(command -v rustup) == "" ]]; then
        rustup update
    fi

    # Ruby
    if [[ $(command -v gem) == "" ]]; then
        gem update --system
    fi

    # UpdateDB
    if [[ $(command -v updatedb) == "" ]]; then
        updatedb 2> /dev/null || true
    fi
}

# Normalize `open` across Linux, macOS, and Windows.
# This is needed to make the `o` function (see below) cross-platform.
if [ ! $(uname -s) = 'Darwin' ]; then
    if grep -q Microsoft /proc/version; then
        # Ubuntu on Windows using the Linux subsystem
        alias open='explorer.exe';
    else
        alias open='xdg-open';
    fi
fi