# project
.DS_Store

# secrets
.extra
.gnupg/gpg.conf
.gnupg/trustdb.gpg
.yarnrc
Library/Quicklook/
Library/Application Support/Clay/
Library/Application Support/espanso/match/custom/email.yml
Library/Preferences/com.apple.Music.plist
Library/Preferences/org.videolan.vlc.plist
Library/Preferences/com.lwouis.alt-tab-macos.plist
Library/Application Support/Sublime Text/Packages/User/WakaTime.sublime-settings
Library/Application Support/Keyboard Maestro/
Library/Application Support/MySQL/
.wakatime.cfg
*.otf
*.ttf
*.gpg.conf
Library/Preferences/com.xk72.charles.config
Library/Preferences/com.surteesstudios.Bartender.plist
Library/Preferences/com.spotify.client.plist
Library/Preferences/com.panic.Transmit.plist
Library/Preferences/com.kapeli.dashdoc.plist
Library/Preferences/com.crowdcafe.windowmagnet.plist
Library/Application Support/Charles/
.wget-hsts
.kube/config*
.logseq/plugins/
.logseq/settings/logseq-calendars-plugin.json
.ssh/authorized_keys
.logseq/graphs/*
.jupyter/*
.ssh/authorized_keys
