[user]
	name = Vincent Koc
	email = vincentkoc@ieee.org
	signingkey = FB4C24AE87080A95
	# # set name, email and gpg signature on commits
	# # values are set using ~/.extra/user.sh
	#
	# name = ""
	# email = ""
	# signingkey = ""

[commit]
	# sign commits with gpg keys
	gpgsign = true

[gpg]
	# git config --global gpg.program "$(which gpg)"
	# TODO: fix gpg alias for github client
	program = /opt/homebrew/bin/gpg

[credential]
	# use keychain credentials if possible
    helper = osxkeychain

[core]
	# Sets editor to sublime
	editor = subl -n -w
	# Sets global excludes
	excludesfile = ~/.gitignore_global
	# Improves diff used by git in CLI
    pager = "diff-so-fancy | less --tabs=4 -RFX"

[diff]
	# Detect copies as well as renames
	renames = copies

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1

[merge]
	# Include summaries of merged commits in newly created merge commit messages
    log = true

[diff-so-fancy]
	# skip empty lines
    markEmptyLines = false
    # hides garbage messaging
    first-run = false

[github]
	# set github username
	user = koconder

[hub]
	# force https for github
	protocol = https

[filter "lfs"]
	# setup and allow for large files in git
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[color]
	# allow for pretty/colour based output
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
	ui = true

[init]
	# set default branch to main instead of master
	defaultBranch = main

[advice]
	# stop hints showing up in cli
	statusHints = false

#
# URL shorthands
#
[url "git@github.com:"]
    insteadOf = "gh:"
    insteadOf = https://github.com/
    insteadOf = http://github.com/
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
    insteadOf = "github:"

[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
    insteadOf = "gist:"

[url "gl:"]
	insteadOf = https://gitlab.com/
	insteadOf = http://gitlab.com/
	insteadOf = git://gitlab.com/
	insteadOf = git@gitlab.com:
	insteadOf = gitlab.com:
