# project
.DS_Store

# secrets
.extra
.gnupg/gpg.conf
.gnupg/trustdb.gpg
.yarnrc
Library/Quicklook/
Library/Application Support/Clay/
Library/Application Support/espanso/match/custom/email.yml
Library/Preferences/com.apple.Music.plist
Library/Preferences/org.videolan.vlc.plist
Library/Preferences/com.lwouis.alt-tab-macos.plist
Library/Application Support/Sublime Text/Packages/User/WakaTime.sublime-settings
.wakatime.cfg
*.otf
*.ttf
