# project
.DS_Store

# secrets
.extra
.gnupg/gpg.conf
.gnupg/trustdb.gpg
.yarnrc
Library/Quicklook/
Library/Application Support/Clay/
Library/Application Support/espanso/match/custom/email.yml
Library/Preferences/com.apple.Music.plist
Library/Preferences/org.videolan.vlc.plist
Library/Preferences/com.lwouis.alt-tab-macos.plist
Library/Application Support/Sublime Text/Packages/User/WakaTime.sublime-settings
Library/Application Support/Keyboard Maestro/
Library/Application Support/MySQL/
.wakatime.cfg
*.otf
*.ttf
*.gpg.conf
Library/Preferences/com.xk72.charles.config
Library/Preferences/com.surteesstudios.Bartender.plist
Library/Preferences/com.spotify.client.plist
Library/Preferences/com.panic.Transmit.plist
Library/Preferences/com.kapeli.dashdoc.plist
Library/Preferences/com.crowdcafe.windowmagnet.plist
Library/Application Support/Charles/
.wget-hsts
.kube/config*
.logseq/plugins/
.logseq/settings/logseq-calendars-plugin.json
.ssh/authorized_keys
.logseq/graphs/*
.jupyter/*
.ssh/authorized_keys
Library/Preferences/com.apple.Music.eq.plist
Library/Preferences/com.apple.symbolichotkeys.plist
Library/Preferences/com.apple.Terminal.plist
Library/Preferences/com.DanPristupov.Fork.plist
Library/Preferences/com.googlecode.iterm2.plist
Library/Preferences/org.videolan.vlc/vlcrc
Library/Preferences/us.zoom.Transcode.plist
Library/Preferences/us.zoom.xos.plist
Library/Preferences/us.zoom.ZoomAutoUpdater.plist
Library/Preferences/ZoomChat.plist
Library/Group Containers/com.apple.PreviewLegacySignaturesConversion/Library/Preferences/com.apple.PreviewLegacySignaturesConversion.plist
Library/Application Support/Dash/library.dash
.netrc
.aws/credentials
.aws/config
/Library/Application Support/Adobe
/Library/Application Support/Airflow
.ssh/authorized_keys
*ca-bundle
.codex/auth.json
Library/Preferences/.GlobalPreferences.plist
Library/Preferences/com.adobe.Photoshop.plist
Library/Preferences/com.apple.symbolichotkeys.plist
Library/Preferences/com.apple.Terminal.plist
.factory/auth.json
.codex/config.toml
