[user]
	name = Vincent Koc
	email = vincentkoc@ieee.org

[github]
  user = koconder

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[color]
  ui = true

[init]
	defaultBranch = main

[core]
	editor = subl -n -w
	excludesfile = ~/.gitignore_global

[advice]
  statusHints = false