[user]
	name = Vincent Koc
	email = vincentkoc@ieee.org

[core]
	editor = subl -n -w
	excludesfile = ~/.gitignore_global
    pager = "diff-so-fancy | less --tabs=4 -RFX"

[diff-so-fancy]
    markEmptyLines = false
    first-run = false

[github]
	user = koconder

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[color]
	ui = true

[init]
	defaultBranch = main

[advice]
	statusHints = false