# Lazygit config - Tokyo Night theme
gui:
  scrollHeight: 10
  scrollPastBottom: true
  mouseEvents: true
  skipDiscardChangeWarning: false
  skipStashWarning: false
  showFileTree: true
  showRandomTip: false
  showCommandLog: true
  showBottomLine: true
  nerdFontsVersion: "3"
  theme:
    # Tokyo Night color palette
    activeBorderColor:
      - "#7aa2f7"  # blue
      - bold
    inactiveBorderColor:
      - "#565f89"  # comment
    searchingActiveBorderColor:
      - "#ff9e64"  # orange
      - bold
    optionsTextColor:
      - "#7aa2f7"  # blue
    selectedLineBgColor:
      - "#292e42"  # bg_highlight
    selectedRangeBgColor:
      - "#292e42"  # bg_highlight
    cherryPickedCommitBgColor:
      - "#bb9af7"  # magenta
    cherryPickedCommitFgColor:
      - "#1a1b26"  # bg
    unstagedChangesColor:
      - "#f7768e"  # red
    defaultFgColor:
      - "#c0caf5"  # fg
git:
  paging:
    colorArg: always
    pager: delta --dark --paging=never
  commit:
    signOff: false
  merging:
    manualCommit: false
    args: ""
  log:
    order: topo-order
    showGraph: when-maximised
  skipHookPrefix: WIP
  autoFetch: true
  autoRefresh: true
  branchLogCmd: "git log --graph --color=always --abbrev-commit --decorate --date=relative --pretty=medium {{branchName}} --"
  allBranchesLogCmd: "git log --graph --all --color=always --abbrev-commit --decorate --date=relative --pretty=medium"
  overrideGpg: false
  disableForcePushing: false
os:
  editPreset: ""
refresher:
  refreshInterval: 10
  fetchInterval: 60
update:
  method: prompt
  days: 14
confirmOnQuit: false
quitOnTopLevelReturn: false
keybinding:
  universal:
    quit: q
    quit-alt1: <c-c>
    return: <esc>
    quitWithoutChangingDirectory: Q
    togglePanel: <tab>
    prevItem: <up>
    nextItem: <down>
    prevItem-alt: k
    nextItem-alt: j
    prevPage: ","
    nextPage: "."
    gotoTop: "<"
    gotoBottom: ">"
    scrollLeft: H
    scrollRight: L
    prevBlock: <left>
    nextBlock: <right>
    prevBlock-alt: h
    nextBlock-alt: l
    jumpToBlock:
      - "1"
      - "2"
      - "3"
      - "4"
      - "5"
    nextMatch: "n"
    prevMatch: "N"
    optionMenu: <disabled>
    optionMenu-alt1: "?"
    select: <space>
    goInto: <enter>
    openRecentRepos: <c-r>
    confirm: <enter>
    remove: d
    new: "n"
    edit: e
    openFile: o
    scrollUpMain: <pgup>
    scrollDownMain: <pgdown>
    scrollUpMain-alt1: K
    scrollDownMain-alt1: J
    scrollUpMain-alt2: <c-u>
    scrollDownMain-alt2: <c-d>
    executeCustomCommand: ":"
    createRebaseOptionsMenu: m
    pushFiles: P
    pullFiles: p
    refresh: R
    createPatchOptionsMenu: <c-p>
    nextTab: "]"
    prevTab: "["
    nextScreenMode: +
    prevScreenMode: _
    undo: z
    redo: <c-z>
    filteringMenu: <c-s>
    diffingMenu: W
    diffingMenu-alt: <c-e>
    copyToClipboard: <c-o>
    submitEditorText: <enter>
    extrasMenu: "@"
    toggleWhitespaceInDiffView: <c-w>
    increaseContextInDiffView: "}"
    decreaseContextInDiffView: "{"
